body {
    font-family: "Raleway", sans-serif;
    margin: 0px 50px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

ul {
    list-style: none;
}

nav ul {
    display: flex;
    gap: 68px;
    margin-top: 30px;
}

nav img {
    width: 61px;
    height: 19px;
    margin: 30px 0px;
}

a {
    text-decoration: none;
    color: black;
}

nav a {
    color: black;
    padding-top: 25px;
}

nav a:hover {
    border-top: 5px solid rgb(0, 102, 255);
    color: rgb(0, 102, 255);
}

/* Partie header */

h1, h2 {
    font-size: 22px;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 16px;
}

.header-p {
    margin-bottom: 35px;
    font-size: 16px;
}

.zone-recherche {
    display: flex;
}

form {
    display: flex;
}

.icone-map {
    border: 1px solid #F2F2F2;
    background: #F2F2F2;
    width: 50px;
    height: 49px;
    border-radius: 15px 0px 0px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    color: #FFFFFF;
    background: #0065FC;
    border: 1px solid #0065FC;
    border-radius: 0px 15px 15px 0px;
    width: 132px;
    font-size: 18px;
    cursor: pointer;
}

.zone-recherche input {
    border: 1px solid #F2F2F2;
    width: 190px;
}

.flex-filtres {
    display: flex;
    gap: 15px;
    align-items: center;
    margin-top: 35px;
}

.flex-filtres ul {
    display: flex;
    gap: 15px;
    padding-left: 0;
    align-items: center;
}

.flex-filtres a {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 46px;
    padding: 0px 20px;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    font-size: 17px;
    transition: 0.3s;
}

.flex-filtres a:hover {
    background-color: #DEEBFF;
}


.flex-filtres img {
    width: 22px;
    height: 22px;
}

.flex-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.icone-info {
    display: flex;
    align-items: center;
    width: 24px;
    height: 24px;
    border: 1px solid #D9D9D9;
    border-radius: 24px 24px;
    padding: 10px;
    box-sizing: border-box;
}

.icone-info img {
    width: 4px;
    height: 10px;
}

/* Partie section hebergement */

.hebergement {
    display: flex;
    gap: 40px;
}

.hebergement-marseille {
    border: 1px solid transparent;
    background: #F2F2F2;
    border-radius: 15px;
    width: 871px;
    height: 614px;
    gap: 15px;
}

.populaire {
      border: 1px solid transparent;
    background: #F2F2F2;
    border-radius: 15px;
    width: 429px;
    height: 614px;
}

.flex-hebergement {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 15px ;
}

.card {
    border: 1px solid transparent;
    background: #FFFFFF;
    border-radius: 20px;
    box-shadow: 0px 3px 15px 0px #0000001A;
}

.hebergement-marseille .card {
    width: 250px;
    height: 207px;
}

.hebergement-marseille .card > a > img:first-of-type {
    width: 250px;
    height: 124px;
    border-radius: 20px 20px 0 0;
    border: 5px solid transparent;
    box-sizing: border-box;
    object-fit: cover;
}

.hebergement-marseille h2, .hebergement-marseille h3 {
    padding: 0 30px;
}
    
.card-content h4, .card-content p, .card-content img{
   padding: 4px 0;
   margin: 0;
}

.card-content {
    margin: 0 15px;
}

/* Populaire */

.flex-titlepop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px 0px 30px;
}

.populaire .card a {
    display: flex;
    width: 369px;
    height: 146px;
}

.populaire .card > a > img:first-of-type {
    width: 123px;
    height: 146px;
    border-radius: 20px 0 0 20px;
    border: 5px solid transparent;
    box-sizing: border-box;
    object-fit: cover;
}

.flex-populaire {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 15px 30px;
}

.card-contentpop {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 15px 0 8px 16px;
}

.card-contentpop h4, .card-contentpop p, .card-contentpop img {
    margin: 0;
}